@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-colour: red;
    --accent: orange;
    --main-font: "Playfair Display", 'Times New Roman', Times, serif;
    --sec-font: "Noto Sans JP", Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
  }
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    /*overflow-wrap: break-word;*/
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--main-font);
}
p, form, button{
    font-family: var(--sec-font);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-style: italic;
}

.bookCard h1 {
    font-size: 2.75rem;
}

.bookCard h2 {
    font-size: 1.45rem;
}

#root, #__next {
    isolation: isolate;
}

.bookCard {
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 234, 234);
    padding: 16px;
    font-family: inherit;
    margin: 16px;
    border-radius: 0.5rem;

    /*Prevent card from expanding outside of grid*/
    min-width: 0;
    min-height: 0;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}


#bookGrid {
    display: grid;
    width: 100%;
    padding: 24px;

    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: clamp(220px, 400px, 700px);
    border-top: 1px solid black;
    margin-top: 16px;
}

#bookForm {
    margin-top: 32px;
    margin-bottom: 32px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;
    transition: 100ms ease-in-out;
    background-color: white;
    padding: 32px;
    border-radius: 1.5rem;
    min-width: min(50%, 600px);
}

#bookForm h2{
    padding-bottom: 32px;
    line-height: 1;
}

#bookForm.active {
    transform: translate(-50%, -50%) scale(1);
}

input {
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 16px;
}

input:focus {
    outline: none;
}

.formHeader {
    display: flex;
    justify-content: space-between;
}

fieldset {
    border: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.libraryWrapper {
    display: flex;
    flex-direction: column;
    padding-left: clamp(50px, 300px, 700px);
    padding-right: clamp(50px, 300px, 700px);
    padding-top: clamp(32px, 48px, 96px);
    padding-bottom: clamp(32px, 48px, 96px);
}

.openModalBtn {
    position: fixed;
    width: 100px;
    height: 100px;
    left: 90%;
    top: 87.5%;

    font-size: 5rem;
    background-color: bisque;
    border-radius: 100%;
    color: rgb(27, 171, 249);
    line-height: 0;
}

input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    left: -10000px;
    top: -10000px;
}

input[type="checkbox"].toggle + label {
    display: flex;
    align-items: center;
    position: relative;
}

input[type="checkbox"].toggle + label::before {
    content: "";
    width: 4em;
    height: 2em;
    background-color: rgb(209, 204, 204);
    border-radius: 1em;
    margin-right: 0.5em;
    transition: 200ms ease-in-out;
}

input[type="checkbox"].toggle + label::after {
    content: "";
    width: 1.8em;
    height: 1.8em;
    left: .2em;
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    position: absolute;
    transition: 200ms ease-in-out;
}

input[type="checkbox"].toggle:checked + label::after {
    transform: translateX(100%);
    background-color: aqua;
}

#bookForm fieldset button[type="submit"]{
    border-radius: 1em;
    border: 0;
    margin-top: 16px;
    padding: 8px;
    cursor: pointer;
}

.openModalBtn:hover {
    /*transform: scale(1.2);*/
}

.remBtn, .openModalBtn {
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bolder;
}

.remBtn {
    width: 20px;
    height: 20px;
    font-size: 1.5rem;
    background: none;
}

.remBtn:hover {
    color: rgb(209, 88, 88);
}

.bookCard.remBtn {
    position: relative;
    right: 50;
    bottom: 50;
    top: 0;
    left: 0;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.5);
    pointer-events: none;
    transition: 100ms ease-in-out;
}

#overlay.active {
    opacity: 1;
    z-index: 9;
    pointer-events: all;
}

@media screen and (max-width: 1280px){
    #bookGrid {grid-template-columns: 1fr 1fr;}
    .libraryWrapper{
        padding-left: clamp(70px, 100px, 180px);
        padding-right: clamp(70px, 100px, 180px);
    }
}

@media screen and (max-width: 600px){
    #bookGrid {grid-template-columns: 1fr;}
    .libraryWrapper{
        padding-left: clamp(20px, 40px, 70px);
        padding-right: clamp(20px, 40px, 70px);
    }
    #bookForm {
        min-width: min(80%, 310px);
    }
}