*, *::before, *::after {
    box-sizing: border-box;
  }
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    padding-right: 300px;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}

.bookCard {
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 234, 234);
    max-width: 60%;
    padding: 16px;
    font-family: inherit;
}

#bookGrid {
    display: grid;
    width: 602px;
    padding: 24px;

    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: clamp(220px, 400px, 700px);
}